body {
  font-family: 'Tangerine', serif;
  background-color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#nav_bar {
  margin-bottom: 0;
  padding: 0;
  background-color: white;
  border: none;
}

.weather {
  color: deeppink !important;
  font-size: 25px;
  font-weight: 600;
}

#nav_list > li > a {
  color: deeppink !important;
  font-weight: 500;
}

#logo {
  max-height: 42px;
  margin-right: 8px;
  display: inline-block;
  margin-top: -15px;
}

#headRow {
  /*background: url(img/city.gif) no-repeat;*/
  /*background-size: cover;*/
  background: url(img/street.gif) no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin-top: 0;
}

#colHeadText1 {
  color: pink;
  padding-top: 30px;
  font-size: 50px;
}

#colHeadText2 {
  color: pink;
  padding-top: 38px;
  padding-bottom: 30px;
}

ul#list_item {
  color: pink;
  font-size: 35px;
  text-align: center;
}








